.bg-image {
    background-image: url(components/images/background-gatinho.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50rem;
}

.position-home {
    margin-top: 5rem;
} 


.navegador {
  display: flex;
}

#cabecalho {
    background-color: white;
    opacity: 1;
    height: 5rem;
}

.bg-nav {
  background-color: white;
  opacity: 1;
}

.right-animation {
    animation: go-left 1.5s;
}
@keyframes go-left {
    from {
      transform: translateX(500px);
    }
    to {
      transform: translateX(0);
    }
  } 

.form-style {
    border: white 3px solid;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    opacity: 0.9;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-titulo {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    color: #946336;
    font-size: 2.5rem;
}

.form-texto {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.button-style {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .button-style:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .button-style:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

  .posicao-botao {
      text-align: center;
  }

  #mensagemErro {
    color: red;
    font-size: 12px;
  }

  .titulo-home {
    font-family: 'Sansita Swashed', cursive;
    color: #946336;
    font-size: 1.5rem;
  }

  .subtitulo-home {
    font-family: 'Sansita Swashed', cursive;
    font-size: 2.5rem;
}

.texto-home {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    color: #5c5b5b;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

  .img-check {
      max-width: 50px;
      max-height: 50px;
      text-align: center;
  }

  .texto-check {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    font-style: italic;
  }

  .left-animation {
    animation: go-right 1.5s;
}
@keyframes go-right {
    from {
      transform: translateX(-500px);
    }
    to {
      transform: translateX(0);
    }
  } 
  .img-vet {
    width: 550px;
    height: 550px;
}

.img-check2 {
    width: 40px;
    height: 40px;
}

.razoes {
  position: relative;
  margin: 0 auto;
}

.razoes li {
  display: inline-flex;
  text-align: center;
  width: 15rem;
  vertical-align: top;
  padding: 30px 20px;
  box-sizing: border-box;
  margin-right: 1rem;
}

.titulo-sobre {
  font-family: 'Sansita Swashed', cursive;
  color: #946336;
  font-size: 1.7rem;
}

.subtitulo-sobre {
  font-family: 'Sansita Swashed', cursive;
  font-size: 2.5rem;
  color: #38b6ff;
}

.texto-sobre {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: #5c5b5b;
}

.bg-servicos {
  background: #fdc3b4;
}

.subtitulo-servicos {
  font-family: 'Sansita Swashed', cursive;
  font-size: 2.5rem;
}

.titulo-card {
  font-family: 'Sansita Swashed', cursive;
  font-size: 1.7rem;
  margin-top: 15px;
  text-align: center;
}

.img-card {
  width: 214px;
  height: 190px;
  margin-top: 15px;
  border-radius: 40px;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: white;
}

.icone-pacotes {
  list-style-image: url(components/images/patinha.png);
}

.subtitulo-card {
  font-family: 'Sansita Swashed', cursive;
  font-size: 1.7rem;
  color: #946336;
}

.map-style {
  border-radius: 20px;
  width: auto;
  height: 400px;
}

.bg-localizacao {
  background-image: url(components/images/bg-localizacao.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 57rem;
}

.logotipo-footer {
  width: 20rem;
  height: 7rem;
}

.redes-sociais {
  display: flex;
  width: 320px;
  justify-content: center;
}

.whatsapp {
  background-image: url(components/images/whatsapp.png);
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.whatsapp:hover {
  background-image: url(components/images/whatsapp-verde.png);
  transition: 0.5s;
}

.facebook {
  background-image: url(components/images/facebook.png);
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.facebook:hover {
  background-image: url(components/images/facebook-azul.png);
  transition: 0.5s;
}

.instagram {
  background-image: url(components/images/instagram.png);
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.instagram:hover {
  background-image: url(components/images/instagram-colorido.png);
  transition: 0.5s;
}

.github {
  background-image: url(components/images/github.png);
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.github:hover {
  background-image: url(components/images/github-preto.png);
  transition: 0.5s;
}

.card-width {
  width: 5rem;
}